body {
  max-width: 66ch;
  padding: 2rem;
  font-family: serif;
  margin: 0;
}

header {
  margin-bottom: 2.5rem;
}

.root {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-weight: 600;
}
